#backgroundRedGrad {
    background-image:linear-gradient(to bottom, rgb(109, 0, 0), black);
    background-repeat: no-repeat;
    inline-size: auto;
    background-size: 100% 100%;
    color: red;
    font-size: 60px;
    text-align: center;
}


#buttonS{
    transition: transform 0.5s;

}

html {
    min-height:100%;
}

body {
    height:100%;
}

#buttonS:hover{
    transform:  scale(0.96);

}
